<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content='width=device-width,initial-scale=1.0' name='viewport' />
  <title>Merry Christmas! 🔥🎄📯</title>
  <meta name="description" content="Behold, a yule-tide pizza box burning brightly for ye." />
  <meta name="keywords" content="yule log christmas pizza fire" />
  <meta name="robots" content="all" />
  <meta name="distribution" content="GLOBAL" />
  <meta property="og:title" content="Merry Christmas! 🔥🎄📯" />
  <meta property="og:description" content="Behold, a yule-tide pizza box burning brightly for ye." />
  <meta property="og:image" content="/assets/bg.png" | prepend: site.baseurl }}"/>
  <link href='favicon.ico' rel='shortcut icon' />
  <link href='/apple-touch-icon.png' rel='apple-touch-icon' />
  <link rel="stylesheet" type="text/css" href="assets/css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" />

</head>
