<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content='width=device-width,initial-scale=1.0' name='viewport' />
  <title>🎁📯🎄 Merry Christmas! 🎄📯🎁</title>
  <meta name="description" content="A pizza box burning brightly" />
  <meta name="keywords" content="yule log christmas pizza" />
  <meta name="robots" content="all" />
  <meta name="distribution" content="GLOBAL" />
  <meta property="og:title" content="Happy Christmas Pizza" />
  <meta property="og:description" content="A pizza box burning brightly" />
  <meta property="og:image" content="/img/bg.png" />
  <link href='favicon.ico' rel='shortcut icon' />
  <link href='/apple-touch-icon.png' rel='apple-touch-icon' />
  <link rel="stylesheet" type="text/css" href="assets/css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" />

</head>